* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 98%);
  width: 100%;
  padding: 0 2.6rem;
  margin: 0 auto;
}

.header {
  margin-top: 8rem;
  text-align: center;
  font-size: 2.45rem;
}
.header__title {
  font-weight: 200;
}
.header__bold {
  font-weight: 600;
}

.main {
  /* max-width: 800px;
    width:100%;
    margin:0 auto;
     */
  font-size: 1.5rem;
}
.main__header {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0 6rem;
  max-width: 300px;
  font-weight: 200;
}
.card__container {
  display: grid;
  transition: 1s;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 4rem;
}
.card {
  transition: 0.2s;
  padding: 1.5rem;
  background-color: white;
  height: 27rem;
  width: 100%;
  border-radius: 4px;
  /* margin-bottom: 2.5rem; */
  position: relative;
  z-index: 1;
  border-top: 4px solid black;
  -webkit-box-shadow: 0px 9px 10px -2px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 9px 10px -2px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 9px 10px -2px rgba(0, 0, 0, 0.16);
}
.card:hover {
  transform: translateY(-10px) scale(1.1);
  z-index: 4;
}

.red {
  border-color: hsl(0, 78%, 62%);
}
.cyan {
  border-color: hsl(180, 62%, 55%);
}
.orange {
  border-color: hsl(34, 97%, 64%);
}
.blue {
  border-color: hsl(212, 86%, 64%);
}

.card__header {
  font-weight: 600;
  font-size: 1.8rem;
}
.card__content {
  font-weight: 200;
}
.card__icon {
  position: absolute;
  right: 1.6rem;
  bottom: 1.6rem;
}
footer {
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .card__container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 27rem 27rem;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    gap: 4rem;
  }
  .card__container .card__box:nth-child(1),
  .card__box:last-child {
    grid-row: 1 / span 2;
    display: flex;
    align-items: center;
  }
  .card__box:last-child {
    grid-column: 3 / span 1;
  }
  .header {
    font-size: 3.5rem;
  }
  .main__header {
    max-width: 400px;
  }
}
